* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.navbar-item {
    display: inline-block;
}

.navbar-item a {
    display: inline-block;
    padding: 10px 30px;
    background: #3498db;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}

.navbar-item a.active {
    background: #e74c3c;
}

.slick-slide {
    padding: 0 10px;
}

.slick-arrow {
    z-index: 99999;
}

.slick-arrow.slick-prev {
    left: 30px;
}

.slick-arrow.slick-next {
    right: 30px;
}

.serivices-item {
    position: relative;
}

.serivices-item img {
    width: 100%;
    height: auto;
}

.serivices-item h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 20px;
}